<%- include('./include/header', {title: 'departements'}); %>

<div class="container">
    <form action='/' method="POST">
        <div class="form-group">
          <label for="dep-name">name</label>
          <input type="text" name='name' class="form-control" id="dep-name" placeholder="Enter departement name">
          <label for="dep-name">descreption</label>
          <input type="text" name='descreption' class="form-control" id="dep-name" placeholder="Enter departement name">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

<%- include('./include/footer'); %>

